/************************************************************
*********************body section****************************
*************************************************************/

body
	{
		background: #EDEDED;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    color: white;
	}

.heading {
  font-size: 22px;
  font-weight: 500;
}

.subheading {
  font-size: 16px;
  padding-bottom: 60px;
}

p {
  color: #848484;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 28px;
}

hr {
	border-top: 2px solid #828282;
	width: 120px;
}

.h2, h2 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 100;
}

/* preloader section */
.preloader  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  background-color: #F6D76B;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

/************************************************************
*********************body section****************************
*************************************************************/




/************************************************************
*********************carousel section************************
*************************************************************/
#my-carousel .carousel-inner{
    width: 100%;
   
}
#my-carousel .carousel-inner {
    background-image: url("../images/products.png");
    background-size: cover;
    background-position: center top;
}

@media (min-width:768px) { 
  #my-carousel .carousel-inner .item {
      height: 720px;
      padding-top: 50px;
  
}
.carousel-caption{
  text-align: left;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 100px;
  padding-right: 300px;
}


#my-carousel .item a {display:block;position:absolute;top:0;left:0;bottom:0;right:0;}


/************************************************************
*********************carousel section************************
*************************************************************/




/************************************************************
*********************navigation section**********************
*************************************************************/


.navbar-brand, .navbar-nav li a {
  line-height: 65px;
}

.navbar-default .navbar-nav li a {
  font-size: 14px;
  font-weight: 350;
  color: black;
  letter-spacing: 1px;
  padding-left: 50px;
 

}
.navbar-default {
  background: #F8F8F8;
  box-shadow: 0px 2px 8px 0px rgba(5, 5, 5, .25);
  border: none;
  margin-bottom: 0;
  height: 100px;
}

.navbar-default .navbar-brand  {
  color: #6D6E70;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav li a {
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding-top: 20px;
  margin-left: 5px;

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: #006DB5;
  

 } 

.logo{
 width: 155px;
 height: auto;
 position: left;
 padding-bottom: 20px;
 margin-left: -30px;
}


.dropdown-menu {
  position: fixed;
  top: 100px; 
  width: 100%;
  background-color: rgba(175, 172, 170, 0.8); 
 
  

}
.dropdown-menu>li>a:focus{

}

.dropdown-menu>li>a:hover {
 color: white;
 background-color: transparent;
 z-index: -5;


 

}


#home {

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}
#home h1 {
  font-size: 20px;
  letter-spacing: 8px;
  font-style: normal;
  padding-top: 10px;
}
#home .btn {
  background: transparent;
  border-radius: 0;
  border: 3px solid black;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 16px 42px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #ffffff;
  color: #202020;
}

/*   -------------------- ----------home section  -------------------- ----------*/
.nav.nav-justified > li.active > a > .quote { opacity: 1; }
.nav.nav-justified > li > a > img { box-shadow: transparent; }
.nav.nav-justified > li > a > img { 
    max-width: 100%; 
    opacity: .3; 
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img { 
    opacity: 1; 
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }

@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    } 

}
/************************************************************
*********************navigation section**********************
*************************************************************/




/************************************************************
*********************product - list section *****************
*************************************************************/


.img-upper{
    border-bottom: 1px solid black;
    padding: 10px;
}
.description{
    text-align: left;
    padding: 5px;
    font-size: 6.5px;
    color: black;
}
.btn-primary{
    margin-top: 10px;
}
.description h2{
  font-size: 12px;
   margin-top: 0px;
    height: 15px;
    text-align: start;
}
.p3 {
  color: black;
  
}
img.img-responsive {
    height: 155px;
}
.products {
  padding-top: 15px;
	line-height: 1.2;
  background: ;
  height: 600px;
  font-size: 13px;
  color: #292929;
  padding-left: 255px;
  padding-top: 60px;

  
}
scroll-container {
  background: white;
  display: block;
  height: 500px;
  width: 1000px;
  padding-left: 25px;
  overflow-y: scroll;
  scroll-behavior: smooth;

}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height:40%;
  font-size: 5em;
}
tbody {
    border-top: none !important;
    border-top: 1px solid #000000;
    display: table-row-group;
    vertical-align: middle;
    border-color: black;
}
table {
    border-collapse: collapse;
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    border-color: red;
}
td, th {
      font-size: 12px;
}
.objective_content {
    float: right;
    width: 485px;
    padding-left: 30px;
    padding-top: 
}

div {
    display: block;
}

/************************************************************
*********************product - list section *****************
*************************************************************/



/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
  background: #292929;
  padding-top: 40px;
  padding-left: 175px;
  font-weight: 100px;
}



.title-widget {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  position: relative;
  font-family: 'Muli', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
 
}

.title-widget::before {
    background-color: #03253D;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 400;
    line-height: 7px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}



.title-median {
    color: white;
    font-size: 13px;
    line-height: 17px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
}

.footerp p {
    margin-top: 15px;
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 10px;
    font-weight: 500;
    line-height: 1px;
    /*margin-left: -20px;*/
}


#social {
padding-top: 10px;
padding-right: 18px;
-webkit-transform:scale(2);
                /* Browser Variations: */
-moz-transform:scale(2);
-o-transform:scale(2); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
color: #006DB5;
}           

.nomargin { margin:10px; padding:5px;
}



.footer-bottom {
    background-color: #292929;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    min-height: 30px;
    padding-top: 80px;
    font-size: 9px;
    margin-left: -15px;

}
.a1{

}

/************************************************************
*************************Footer******************************
*************************************************************/