/************************************************************
*********************body section****************************
*************************************************************/



body
  {
    background: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    background:#dadada;
  }

.heading {
  font-size: 22px;
  font-weight: 500;

}

.subheading {
  font-size: 16px;
  padding-bottom: 60px;
}

p {
  color: #d0d0d0;;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 24px;
}

hr {
  border-top: 2px solid #828282;
  width: 120px;
}
h4{

    font-family: inherit;
    font-weight: 550;
    line-height: 1.1;
    color: white;
}

a {
    color: #006DB5;
    line-height: 5px;
    font-size: 13px;
    font-weight: 500;
}
header a, header span {
            display: inline-block;
            padding: 4px 8px;
            margin-right: 10px;
            border: 2px solid #000;
            background: #DDD;
            color: #dadada;
            text-decoration: none;
            text-align: center;
            height: 20px;
}
header span {
  background:white;
}
header {
  display:block; 
  font-size:1.2em;
  margin-bottom:100px;
}

/************************************************************
*********************body section****************************
*************************************************************/





/************************************************************
*********************carousel section************************
*************************************************************/


#my-carousel .carousel-inner .item {
    width: 100%;
   
}
#my-carousel .carousel-inner .item {
    background-image: url("../images/banner1.jpg");
    background-size: cover;
    background-position: center top;
}
#my-carousel .carousel-inner .item-2 {
    background-image: url("../images/bg.png")
}
#my-carousel .carousel-inner .item-3 {
    background-image: url("../images/Direct_Ring_LED.jpg")
}
@media (min-width:979px) { 
  #my-carousel .carousel-inner .item {
      height: 620px;
      padding-top: 100px;
  
}
#my-carousel .item a {
  display:block;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

/* preloader section */
.preloader  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;

}
.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  background-color: #F6D76B;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

/************************************************************
*********************carousel section************************
*************************************************************/


/************************************************************
*********************navigation section**********************
*************************************************************/
.navbar-brand, .navbar-nav li a {
  line-height: 65px;
}

.navbar-default .navbar-nav li a {
  font-size: 14px;
  font-weight: 350;
  color: black;
  letter-spacing: 1px;
  padding-left: 50px;
  display: inline-block;
 

}
.navbar-default {
  background: #F8F8F8;
  box-shadow: 0px 2px 8px 0px rgba(5, 5, 5, .25);
  border: none;
  margin-bottom: 0;
  height: 100px;
}

.navbar-default .navbar-brand  {
  color: #6D6E70;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav li a {
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding-top: 20px;
  margin-left: 5px;

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: #006DB5;
  

 } 

.logo{
 width: 155px;
 height: auto;
 position: left;
 padding-bottom: 20px;
 margin-left: -30px;
}


.dropdown-menu {
  position: fixed;
  top: 100px; 
  width: 100%;
  background-color: rgba(175, 172, 170, 0.8); 
 
  

}
.dropdown-menu>li>a:focus{

}

.dropdown-menu>li>a:hover {
 color: white;
 background-color: transparent;
 z-index: -5;
}

/************************************************************
*********************navigation section**********************
*************************************************************/



/************************************************************
*********************product - list section *****************
*************************************************************/

#blank {
  background-color: white;
  height: 40px;
  padding-top: 30px;
/*  #d0d0d0*/
}
#blank2 {
  background-color: #292929;
  height: 250px;
  text-align: center;
  font: #e2e2e2;
  padding-top: 40px;
  padding-left: 250px;
  padding-right: 250px;
}


.portfolio-item {
    
    background: #dadada;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 
    
}

.block {
  background-image: url("../images/test.png");
  background-repeat: no-repeat;
  height: 100px;
  padding-left:12px;
  padding-right:12px;
  padding-bottom: 400px;
}

.block-sm {
    height:180px;
}

#product-list{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  padding:30px 0;
  height: 200px;
   line-height: 5px;

}

/* http://www.menucool.com/jquery-slider */

#thumbnail-slider {
    margin:0 auto; /*center-aligned*/
    width:100%;/*width:400px;*/
    padding:4px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider div.inner {
    /*border:4px solid rgba(0,0,0,0.3);*/
    background-color:transparent;

    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}

 
#thumbnail-slider div.inner ul {
    
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider ul li {
    opacity:0.5;
    display:inline-block;
    *display:inline!important; /*IE7 hack*/

    margin:0 4px; /* Spacing between thumbs*/
    transition:border-color 0.5s;
    box-sizing:content-box;
    
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider ul li.active {
    opacity:1;
}

    #thumbnail-slider ul li:after {
        content:"ENLARGE";
        display:block;
        position:absolute;
        top:7px;
        right:8px;
        font:bold 9px/18px Arial;
        color:white;
        width:60px;
        height:18px;
        border:1px solid rgba(255,255,255,0.4);
        background-color:rgba(0,0,0,0.5);
        z-index:2;
        cursor:pointer;        
        text-align:center;
    }
    #thumbnail-slider ul li.active:after {
        font-size:10px;
        background-color:#C00;
    }

#thumbnail-slider li:hover {
    opacity:0.8;
}


#thumbnail-slider .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {display:none;} /*.pause*/

#thumbnail-slider-prev, #thumbnail-slider-next
{
    opacity:1;
    position: absolute;
    background-color:rgba(0,0,0,0.1);
    *background-color:#292929;/*IE7 hack*/
    backface-visibility:hidden;
    width:36px;
    height:48px;
    line-height:48px;
    top: 50%;
    margin:0;
    margin-top:-24px;
    color:white;    
    z-index:10;
    cursor:pointer;
}

#thumbnail-slider-prev {
    left:0px; right:auto;
}

#thumbnail-slider-next {
    left:auto; right:0px;
}
#thumbnail-slider-next.disabled, #thumbnail-slider-prev.disabled {
    opacity:0.3;
    cursor:default;
}


/* arrows */
#thumbnail-slider-prev::before, #thumbnail-slider-next::before {
    position: absolute;
    top: 16px;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-left: 3px solid white;
    border-top: 3px solid white;
}

#thumbnail-slider-prev::before {
    left:13px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-next::before {
    right:13px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:800px){
    
    #thumbnail-slider {
        padding:0;
    }

    #thumbnail-slider-prev, #thumbnail-slider-next {
        display:none;
    }
}

/************************************************************
*********************product - list section *****************
*************************************************************/





/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
  background: #292929;
  padding-top: 40px;
  padding-left: 175px;
  font-weight: 100px;
}



.title-widget {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  position: relative;
  font-family: 'Muli', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
 
}

.title-widget::before {
    background-color: #03253D;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 400;
    line-height: 7px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}



.title-median {
    color: white;
    font-size: 13px;
    line-height: 17px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
}

.footerp p {
    margin-top: 15px;
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 10px;
    font-weight: 500;
    line-height: 1px;
    /*margin-left: -20px;*/
}


#social {
padding-top: 10px;
padding-right: 18px;
-webkit-transform:scale(2);
                /* Browser Variations: */
-moz-transform:scale(2);
-o-transform:scale(2); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
color: #006DB5;
}           

.nomargin { margin:10px; padding:5px;
}





.footer-bottom {
    background-color: #292929;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    min-height: 30px;
    padding-top: 80px;
    font-size: 9px;
    margin-left: -15px;

}
.a1{

}

/************************************************************
*************************Footer******************************
*************************************************************/